---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
import Cards from '../components/Cards.astro';
import { date } from 'astro/zod';

const projects = await getCollection("projects");
const visibleProjects = projects.filter((project) => !project.data.draft);

const sorted = visibleProjects.sort((a, b) => {
    return new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime();
});

const PageTitle = "⚙️Projects";
const PageDesc = "Personal Projects, sometimes labs :p";
---

<BaseLayout PageTitle = {PageTitle} PageDesc = {PageDesc}>
        {sorted.map((project) => (
            <Cards 
            url={`/projects/${project.slug}/`} 
            title={project.data.title} 
            description={project.data.description} 
            date={project.data.pubDate.toString().slice(0,15)}
            />))}
    </body>
</BaseLayout>

<style>
    .projects-container {
        margin-bottom: 1%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0.5rem;
    }

    @media (max-width: 725px){
        .projects-container {
            justify-content: center;
        }
    }
</style>
