---
const { title, url, date, description } = Astro.props;
import { slide } from 'astro:transitions';
---
<div transition:animate="slide" class="project-card-sm">
  <a href={url}>
  <div class="card-border-gradient"></div>
  <div class="card-container">
    <div class="wrapper">
      <h1>{title}</h1>
      <p>{date}</p>
      <p>{description}</p>
    </div>
  </div>
  </a>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}


:root {
  
}


.project-card-sm {
/*   max-width: 600px; */
  max-width: 500px;
  padding: 2.5px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.15);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.75rem;
  transition: transform 0.4s, box-shadow 0.4s ;
}

.project-card-sm:hover {
  transform: scale(1.025);
  box-shadow: 0 0 80px -30px #6f45dc;  
}


.project-card-sm .card-border-gradient {
  content: "";
  position: absolute;
  bottom: 50%;
  height: 300%;
  width: 10rem;
  z-index: -1;
  background: linear-gradient(to right, transparent, #9272e4, transparent);
  
  transition: opacity 0.3s ;
  opacity: 0;
    
  animation: animate-border-gradient 5s infinite linear;
}

.project-card-sm:hover .card-border-gradient {
  opacity: 1;
}

@keyframes animate-border-gradient {
  0% {
    transform: rotate(0deg);
    transform-origin: bottom;
  }
  100% {
    transform: rotate(360deg) ;
    transform-origin: bottom;
  }
}


.project-card-sm .card-container {
  display: grid;
  grid-template-areas: "img img text text text";
  gap: 1rem;
  padding: 0.75rem;
  border-radius: 12px;
  background-color: #191e24;
  color: rgba(255, 255, 255, 0.7);
}

.card-container img {
  grid-area: img;
/*   height: 100%; */
  aspect-ratio: 1 / 1;
  width: 100%;
  border-radius: 8px;
  
  transition: transform 0.3s;
}

.card-container .wrapper {
  grid-area: text;
  font-size: 0.9rem;
  line-height: 1.4;
}

.card-container .wrapper h1 {
  font-size: 1.1rem;
  font-weight: 800;
  line-height: 1;
  color: #fff;
  margin-bottom: 0.75rem;
}

.card-container .wrapper button {
  background: none;
  border: none;
  
  font: inherit;
  color: #fff;
/*   background-color: red; */
  margin-top: 1.4rem;
  
}

.card-container .wrapper button i {
  margin-left: .5rem;
  transition: margin 0.3s;
}
.card-container:hover button i {margin-left: 1rem;}

a {
  text-decoration: none;
  color: inherit;
}
</style>



<!-- 
<div class="project-card-sm">
  <div class="card-border-gradient"></div>
  <div class="card-container">
    <img src="https://unblast.com/wp-content/uploads/2018/08/Gradient-Mesh-22.jpg" alt="">
    <div class="wrapper">
      <h1>Project Name</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid, dignissimos dolore. Blanditiis odit, nobis eius molestiae, rerum iure atque aliquam reprehenderit perferendis sapiente impedit sint praesentium ab laboriosam quis obcaecati.</p>
      <button>view project<i class="fa-solid fa-arrow-right"></i></button>
    </div>
  </div>
</div> -->


<!-- <li>
    <a transition:animate={slide({ duration: '0.4s' })} class="postlink" href={url}>
        <container class="inside-post">{title}</container>
    </a>
</li>



<style>

li {
  list-style-type: none; 
}

a:hover {
  transform: translateY(-0.5rem); 
  border-color: #cbd5e0; 
  font-weight: bold;
}


.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}


p {
  margin: 0; 
  color: #f8fafc; 
}

svg {
  width: 1.125rem; /
  height: 1.125rem; 
  fill: none; 
  stroke: #4a5568; 
  transition: all 0.3s ease; 
}

a:hover svg {
  transform: translateX(0.25rem); 
}

@media (min-width: 768px) {
  .md\:flex-row {
    flex-direction: row !important;
  }
}
</style> -->
