---
<<<<<<< HEAD
const { title, url, date, description, tags = [] } = Astro.props;
=======
import "../styles/posts.css";
const { title, url, date, description, tags = [], image } = Astro.props;
>>>>>>> refactor
---

<div
  transition:animate="slide"
  class="project-card-sm"
  data-tags={tags.join(",")}
>
  <a href={url}>
    <div class="card-border-gradient"></div>
    <div class="card-container">
      {
        image?.showCard && image.url && (
          <img src={image.url} alt={image.alt ?? ""} />
        )
      }
      <div class="wrapper">
        <h1>{title}</h1>
        <p>{date}</p>
        <p1>{description}</p1>
        {
          tags.length > 0 && (
            <div class="tag-list">
              {tags.map((tag) => (
                <span class="tag">{tag}</span>
              ))}
            </div>
          )
        }
      </div>
    </div>
  </a>
</div>

<style>
  .tag-list {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
  }

  .tag,
  .tag-filter {
    border: 1px solid var(--highlight);
    border-radius: 9999px;
    padding: 0.1rem 0.5rem;
    font-size: 0.75rem;
    color: var(--highlight);
  }

  .light .tag,
  .light .tag-filter {
    border-color: var(--purplight);
    color: var(--purplight);
  }
</style>