---
import { ViewTransitions } from 'astro:transitions';
const { PageTitle, PageDesc, AboutPageContent } = Astro.props;
import '../styles/global.css';
import '@fontsource-variable/inter';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/images/misc/icon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<script src="https://kit.fontawesome.com/8288b4ef27.js" crossorigin="anonymous"></script>
		<title>{PageTitle}</title>
		<ViewTransitions />
	</head>
	<body>
		<Header {PageTitle} {AboutPageContent} {PageDesc} />
		<slot name="text" />
		<div class="content-grid">
			<slot />
		</div>
		<Footer />
		<script src='../scripts/changingtext.js'></script>
	</body>
</html>
