---
import { ClientRouter } from 'astro:transitions';
import '../styles/global.css';
import '@fontsource-variable/source-code-pro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';


const { PageTitle, FancyTitle } = Astro.props;
const COLORS = [
"#eb475d",
"hsl(46 80% 60%)",
"hsl(280 80% 60%)",
"hsl(234 80% 60%)",
"hsl(12 80% 60%)",
"hsl(207 80% 60%)",
"hsl(159, 43%, 59%)"
];

function randomColor() {
  return COLORS[Math.floor(Math.random() * COLORS.length)];
}

function colorizeLetters(text) {
  return text.split("").map((char) => {
    if (char === " ") return "<span style='margin-right:0.25em'></span>";
    return `<span style="color:${randomColor()}">${char}</span>`;
  }).join("");
}
const colorfulTitle = FancyTitle ? colorizeLetters(PageTitle) : PageTitle;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/images/misc/icon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{PageTitle}</title>
		<ClientRouter />
	</head>
	<body>
		<Header />
		<h1
		  transition:animate="slide"
		  class="page-title"
		  set:html={colorfulTitle}
		/>
		<slot />
		<br>
		<Footer />
	</body>
</html>
