---
import BaseLayout from '../layouts/BaseLayout.astro';
const { frontmatter } = Astro.props;
import '../styles/markdown.css';

import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

interface Props {
   imagePath: string;
   altText: string;
   name: string;
   age: number;
}

const { imagePath, altText, name, age } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif}');
if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/assets/*"`);
---

<BaseLayout PageTitle={frontmatter.title}>
    <img class="mdpost" src={frontmatter.image.url} alt={frontmatter.image.alt} width="400"/>
    <p>{frontmatter.pubDate.toString().slice(0,10)}</p>
    <p transition:animate="slide" ><em>{frontmatter.description}</em></p>
    <div class="prose">
        <slot />
        <span >
            <style>
                .light {
                    color: #72718a;
                }
                span {
                    color: #72718a;
                }
            </style>
        [user@arysite ~]$</span>
        <a href="javascript:history.back()">cd ..</a>
        <hr>
    </div>
</BaseLayout>
